@import './fonts';
@import './reset';
@import './vars';

html,
body {
	width: 100%;
	height: 100%;
	margin: 0;
	padding: 0;
	font-family: 'Space Mono', monospace;
	font-weight: 400;
	overflow: hidden;
	background-color: $dark-bg;
	background-image: url('../images/bg.jpg');
	background-position: center center; // x y
	background-size: cover;
	background-repeat: no-repeat;
}

.no-scroll {
	overflow: hidden;
}

.container {
	max-width: 1256px;
	padding: 0 20px;
	margin: 0 auto;
}

.wrapper {
	height: 100vh;
}

.scrollbar-thumb {
	border-radius: 0 !important;
}

[data-scrollbar] {
	display: block;
	position: relative;
}

.scroll-content {
	-webkit-transform: translate3d(0, 0, 0);
	transform: translate3d(0, 0, 0);
}

.scrollbar-track {
	position: absolute;
	opacity: 0;
	z-index: 1;
	background: $dark-bg;
	-webkit-user-select: none;
	-moz-user-select: none;
	-ms-user-select: none;
	user-select: none;
	-webkit-transition: opacity 0.5s 0.5s ease-out;
	transition: opacity 0.5s 0.5s ease-out;
}

.scrollbar-track.show,
.scrollbar-track:hover {
	opacity: 1;
	-webkit-transition-delay: 0s;
	transition-delay: 0s;
}

.scrollbar-track-x {
	bottom: 0;
	left: 0;
	width: 100%;
	height: 4px;
}

.scrollbar-track-y {
	top: 0;
	right: 0;
	width: 4px;
	height: 100%;
}

.scrollbar-thumb {
	position: absolute;
	top: 0;
	left: 0;
	width: 8px;
	height: 8px;
	background: $white-text;
	border-radius: 0;
}

@keyframes before-anim {
	0% {
		transform: translateY(8px);
	}
	50% {
		transform: translateY(0);
	}
	100% {
		transform: rotate(-45deg);
	}
}

@keyframes before-anim-reverse {
	0% {
		transform: rotate(-45deg);
	}
	50% {
		transform: rotate(0);
	}
	100% {
		transform: translateY(8px);
	}
}

@keyframes after-anim {
	0% {
		transform: translateY(-8px);
	}
	50% {
		transform: translateY(0);
	}
	100% {
		transform: rotate(45deg);
	}
}

@keyframes after-anim-reverse {
	0% {
		transform: rotate(45deg);
	}
	50% {
		transform: rotate(0);
	}
	100% {
		transform: translateY(-8px);
	}
}

@import './blocks/header';
@import './blocks/intro';
@import './blocks/skills';
@import './blocks/projects';
@import './blocks/footer';
